header {
  display: flex;
  width: 100%;
  height: 70px;
  .title {
    width: 60%;
    font-size: 25pt;
    font-weight: bold;
    height: 70px;
  }
  .user {
    width: 40%;
    height: 70px;
    text-align: center;
    .login-user {
      font-size: 16pt;
      height: 50px;
      margin: 10px 0;
      box-sizing: border-box;
      border: 1px solid #000;
    }
    .user-action {
      font-size: 16pt;
      height: 50px;
      box-sizing: border-box;
      border: 1px solid #000;
    }
  }
}
