.mypage-header {
    display: flex;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: yellowgreen;
    z-index: 3;
    .mypage-title {
        color: white;
        width: 50%;
        font-size: 20pt;
        font-weight: bold;
        height: 70px;
        line-height: 70px;
        padding: 0 0 0 30px;
    }
    .user {
        width: 40%;
        height: 70px;
        margin: 0 0 0 10%;
        line-height: 70px;
        display: flex;
        margin: 0 0 0 30%;
        .btn-logout {
            width: 30%;
            margin: 0 5% 0 10%;
            .logout {
                border: 2px solid white;
                font-size: 10pt;
                font-weight: bold;
                color: white;
                box-sizing: border-box;
                padding: 5px;
            }
        }
        .link-common {
            width: 30%;
            margin: 0 5% 0 10%;
            .common {
                border: 2px solid white;
                font-size: 10pt;
                font-weight: bold;
                color: white;
                box-sizing: border-box;
                padding: 5px;
            }
        }
    }
}
