.mypage-main {
    display: flex;
    margin: 10px 0 0 0;
    position: relative;
    top: 80px;
    .navi {
        width: 300px;
        position: fixed;
        padding: 0 30px 0;
        top: 80px;
        .bookmark-all {
            width: 200px;
            padding: 5px 0;
            box-sizing: border-box;
            &:hover {
                border-bottom: 1px solid black;
            }
            span {
                padding: 0 0 0 5px;
            }
        }
        .tags {
            .label {
                padding: 5px 0;
                margin: 0;
                width: 200px;
                .lang {
                    padding: 0 0 0 5px;
                }
                .icon-plus {
                    margin: 0 0 0 50px;
                }
            }
            .newInput {
                padding: 5px 0;
                margin: 0 0 0 1rem;
                width: 200px;
                display: flex;
                justify-content: space-between;
                input {
                    width: 150px;
                    padding: 5px 0;
                    border: none;
                    border-bottom: 1px solid black;
                }
                button {
                    background-color: white;
                }
            }
            .tag {
                padding: 5px 0;
                margin: 0 0 0 1rem;
                width: 200px;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                .name {
                    span {
                        padding: 0 0 0 5px;
                    }
                }
                .btn {
                    span {
                        padding: 0 5px;
                    }
                }
                &:hover {
                    border-bottom: 1px solid black;
                }
            }
        }
    }
    .bookmarks {
        width: 60%;
        min-width: 680px;
        margin: 5px 0 0 300px;
        padding: 20px 0;
        border-radius: 5px;
        box-shadow: 0 0 8px gray;
        z-index: 1;
        .select {
            font-size: 20px;
            font-weight: bold;
            margin: 15px 0;
            padding: 10px;
            text-align: center;
        }
        .bookmark {
            margin: 10px 10px 0;
            padding: 10px 0 10px 30px;
            border-bottom: 1px solid gray;
            .bookmark-title {
                font-size: 18px;
                color: gray;
            }
            .detail {
                margin: 5px 0 0 0;
                .url {
                    font-size: 16px;
                    span {
                        color: gray;
                        padding: 0 0 0 10px;
                    }
                }
            }
        }
        .not-bookmark {
            font-size: 20px;
            color: red;
        }
    }
}
