html {
  margin: 0;
  background-color: rgb(32, 30, 30);
  body {
    margin: 0;
    header {
      background-color: #fff;
      padding: 5px 0;
      height: 71px;
      border-bottom: 1px solid gray;
      display: flex;
      line-height: 71px;
      .page-title {
        width: 40%;
        margin: 0 10% 0 0;
        color: #000;
        text-align: left;
        padding: 0 0 0 0.7rem;
        font-size: 20pt;
        font-weight: bold;
      }
      .login {
        width: 15%;
        margin: 0 10% 0 25%;
        font-size: 16pt;
        font-weight: bold;
        text-align: center;
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
    main {
      width: 70%;
      margin: 50px auto;
      .form {
        width: 90%;
        margin: 0 auto;
        .first-tag {
          text-align: left;
          font-size: 18pt;
          font-weight: bold;
          margin: 20px 0 3rem;
          color: yellow;
        }
        .end-tag {
          text-align: left;
          font-size: 18pt;
          font-weight: bold;
          margin: 3rem 0 20px;
          color: yellow;
        }
        .name {
          display: flex;
          width: 90%;
          height: 40px;
          line-height: 40px;
          margin: 20px auto;
          .label {
            width: 30%;
            font-size: 18pt;
            margin: 0 5% 0 0;
            color: rgb(162, 194, 230);
          }
          .input {
            width: 60%;
            margin: 0 2.5% 0 2.5%;
            height: 18pt;
            input {
              width: 100%;
              background-color: rgb(32, 30, 30);
              border: none;
              border-bottom: 2px solid yellow;
              font-size: 16pt;
              color: rgb(162, 194, 230);
            }
          }
        }
        .email {
          display: flex;
          width: 90%;
          height: 40px;
          line-height: 40px;
          margin: 20px auto;
          .label {
            width: 30%;
            font-size: 18pt;
            margin: 0 5% 0 0;
            color: rgb(162, 194, 230);
          }
          .input {
            width: 60%;
            margin: 0 2.5% 0 2.5%;
            height: 18pt;
            input {
              width: 100%;
              background-color: rgb(32, 30, 30);
              border: none;
              border-bottom: 2px solid yellow;
              font-size: 16pt;
              color: rgb(162, 194, 230);
            }
          }
        }
        .password {
          display: flex;
          width: 90%;
          height: 40px;
          line-height: 40px;
          margin: 20px auto;
          .label {
            width: 30%;
            font-size: 18pt;
            margin: 0 5% 0 0;
            color: rgb(162, 194, 230);
          }
          .input {
            width: 60%;
            margin: 0 2.5% 0 2.5%;
            height: 18pt;
            input {
              width: 100%;
              background-color: rgb(32, 30, 30);
              border: none;
              border-bottom: 2px solid yellow;
              font-size: 16pt;
              color: rgb(162, 194, 230);
            }
          }
        }
        .password-confirm {
          display: flex;
          width: 90%;
          height: 40px;
          line-height: 40px;
          margin: 20px auto;
          .label {
            width: 30%;
            font-size: 18pt;
            margin: 0 5% 0 0;
            color: rgb(162, 194, 230);
          }
          .input {
            width: 60%;
            margin: 0 2.5% 0 2.5%;
            height: 18pt;
            input {
              width: 100%;
              background-color: rgb(32, 30, 30);
              border: none;
              border-bottom: 2px solid yellow;
              font-size: 16pt;
              color: rgb(162, 194, 230);
            }
          }
        }
        .send-btn {
          margin: 2rem 5% 0 0;
          text-align: right;
          input {
            background-color: rgb(32, 30, 30);
            border: 1px solid yellow;
            color: yellow;
            font-size: 18pt;
            font-weight: bold;
            padding: 5px 5px;
          }
        }
        .error {
          ul {
            list-style: none;
            font-size: 18pt;
            color: red;
            font-weight: bold;
            margin: 10px 0 10px 2rem;
          }
        }
      }
    }
  }
}
