.content {
  border-top: 1px solid gray;
}

.content .edit-form {
  width: 95%;
  margin: 5% 0 0 10%;
}

.content .edit-form .page-title {
  font-size: 20pt;
  color: #be8c52;
  text-align: left;
  margin: 0 0 2rem;
}

.content .edit-form .error .error-title {
  color: red;
  font-size: 18pt;
  font-weight: bold;
  margin: 2rem 0;
}

.content .edit-form .error ul {
  font-size: 16pt;
  padding: 0 0 2rem 2rem;
  color: red;
}

.content .edit-form .form {
  width: 80%;
  margin: 1rem 2rem;
}

.content .edit-form .form .first-tag {
  color: yellow;
  font-size: 20pt;
  text-align: left;
}

.content .edit-form .form .end-tag {
  margin: 3rem 0 0 0;
  color: yellow;
  font-size: 20pt;
  text-align: left;
}

.content .edit-form .form .title {
  font-size: 18pt;
  padding: 3rem 0 0 3rem;
  color: #a2c2e6;
}

.content .edit-form .form .title span {
  display: inline-block;
  width: 10%;
  padding: 0 1.5rem 0 0;
  text-align: left;
}

.content .edit-form .form .title .input {
  width: 50%;
  height: 20pt;
  border: none;
  border-bottom: 2px solid yellow;
  background-color: #201e1e;
  color: #a2c2e6;
  font-size: 16pt;
  padding: 0 0 0 0.7rem;
}

.content .edit-form .form .url {
  font-size: 18pt;
  padding: 3rem 0 0 3rem;
  color: #a2c2e6;
}

.content .edit-form .form .url span {
  display: inline-block;
  width: 10%;
  padding: 0 1.5rem 0 0;
  text-align: left;
}

.content .edit-form .form .url .input {
  width: 50%;
  height: 20pt;
  border: none;
  border-bottom: 2px solid yellow;
  background-color: #201e1e;
  color: #a2c2e6;
  font-size: 16pt;
  padding: 0 0 0 0.7rem;
}

.content .edit-form .form .tag {
  font-size: 18pt;
  padding: 3rem 0 0 3rem;
  color: #a2c2e6;
}

.content .edit-form .form .tag span {
  display: inline-block;
  width: 10%;
  padding: 0 1.5rem 0 0;
  text-align: left;
}

.content .edit-form .form .tag select {
  width: 50%;
  height: 20pt;
  border: none;
  border-bottom: 2px solid yellow;
  background-color: #201e1e;
  color: #a2c2e6;
  text-align: center;
  font-size: 16pt;
}

.content .edit-form .form .tag select option {
  font-size: 18pt;
}

.content .edit-form .form .publish {
  font-size: 18pt;
  padding: 3rem 0 0 3rem;
  color: #a2c2e6;
}

.content .edit-form .form .publish span {
  padding: 0 0 0 1.5rem;
  text-align: left;
}

.content .edit-form .form .publish input {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-bottom: 2px solid yellow;
  background-color: #201e1e;
  color: #a2c2e6;
  padding: 0 1.5rem 0 0;
}

.content .edit-form .form .send-btn {
  padding: 2rem 0 0 0;
  margin: 0 0 0 55%;
}

.content .edit-form .form .send-btn input {
  border: none;
  border: 2px solid yellow;
  background-color: #201e1e;
  color: yellow;
  padding: 10px 15px;
  font-size: 18pt;
  font-weight: bold;
}

