.content {
  border-top: 1px solid gray;
}

.content .form {
  width: 70%;
  margin: 5% 15%;
  padding: 20px 0 0 0;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.content .form .email label {
  display: block;
  width: 90%;
  font-size: 18pt;
  color: #fff;
  margin: 10px 5% 5px 5%;
}

.content .form .email .value {
  width: 80%;
  padding: 0 0 0 1rem;
  margin: 0 auto;
  border: 1px solid yellow;
  box-sizing: border-box;
  font-size: 16pt;
  color: #fff;
  background-color: #201e1e;
}

.content .form .email .error {
  width: 80%;
  margin: 0 auto;
  font-size: 16pt;
  color: red;
}

.content .form .category label {
  display: block;
  width: 90%;
  font-size: 16pt;
  color: #fff;
  margin: 10px 5% 5px 5%;
}

.content .form .category select {
  display: block;
  width: 80%;
  padding: 0 0 0 1rem;
  margin: 0 auto;
  border: 1px solid yellow;
  box-sizing: border-box;
  background-color: #201e1e;
  color: #fff;
  font-size: 16pt;
}

.content .form .category .error {
  width: 80%;
  margin: 0 auto;
  font-size: 16pt;
  color: red;
}

.content .form .body label {
  display: block;
  width: 90%;
  font-size: 18pt;
  color: #fff;
  margin: 10px 5% 5px 5%;
}

.content .form .body textarea {
  display: block;
  width: 80%;
  padding: 0 0 0 1rem;
  margin: 0 auto;
  height: 10rem;
  color: #fff;
  font-size: 16pt;
  border: 1px solid yellow;
  box-sizing: border-box;
  background-color: #201e1e;
}

.content .form .body .error {
  width: 80%;
  margin: 20px auto;
  font-size: 16pt;
  color: red;
}

.content .form .btn {
  text-align: center;
  margin: 30px 0;
}

.content .form .btn button {
  width: 150px;
  height: 3rem;
  line-height: 3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid yellow;
  box-sizing: border-box;
  background-color: #201e1e;
}

