.common-page {
  min-width: 970px;
  margin: 10px 0 0 0;
  position: relative;
  top: 80px;
}

.common-page .search {
  margin: 20px 0 40px;
}

.common-page .search .search-form {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
}

.common-page .search .search-form .input {
  width: 70%;
  margin: 0 0 0 12.5%;
}

.common-page .search .search-form .input input {
  width: 100%;
  font-size: 14pt;
  box-sizing: border-box;
  line-height: 26px;
  border: 1px solid gray;
}

.common-page .search .search-form .btn {
  width: 5%;
  margin: 0 12.5% 0 0;
  font-size: 14pt;
  text-align: center;
  line-height: 26px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.common-page .error {
  margin: 20px auto;
  padding: 0 20px;
  width: 700px;
}

.common-page .error .message {
  font-size: 14pt;
  color: red;
}

.common-page .bookmarks {
  margin: 20px auto;
  padding: 20px;
  width: 700px;
  max-height: 500px;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: 0 0 8px;
}

.common-page .bookmarks .bookmark {
  border-bottom: 1px solid gray;
  margin: 10px 10px;
}

.common-page .bookmarks .bookmark a {
  padding: 0 0 0 1.3rem;
  text-decoration: none;
  color: gray;
  font-size: 14pt;
}

.common-page .bookmarks .bookmark a:hover {
  opacity: 0.8;
}

