.mypage-main {
  display: -webkit-box;
  display: flex;
  margin: 10px 0 0 0;
  position: relative;
  top: 80px;
}

.mypage-main .navi {
  width: 240px;
  position: fixed;
  padding: 0 30px 0;
  top: 80px;
}

.mypage-main .navi .bookmark-all {
  width: 200px;
  padding: 5px 0;
  box-sizing: border-box;
}

.mypage-main .navi .bookmark-all:hover {
  border-bottom: 1px solid black;
}

.mypage-main .navi .bookmark-all span {
  padding: 0 0 0 5px;
}

.mypage-main .navi .tags .label {
  padding: 5px 0;
  margin: 0;
  width: 200px;
}

.mypage-main .navi .tags .label .lang {
  padding: 0 0 0 5px;
}

.mypage-main .navi .tags .label .icon-plus {
  color: gray;
  margin: 0 0 0 50px;
  padding: 2px;
}

.mypage-main .navi .tags .label .icon-plus:hover {
  border: 1px solid gray;
}

.mypage-main .navi .tags .newInput {
  padding: 5px 0;
  margin: 0 0 0 1rem;
  width: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.mypage-main .navi .tags .newInput input {
  width: 150px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid black;
}

.mypage-main .navi .tags .newInput button {
  background-color: white;
}

.mypage-main .navi .tags .tag {
  padding: 5px 0;
  margin: 0 0 0 1rem;
  width: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
}

.mypage-main .navi .tags .tag .name span {
  padding: 0 0 0 5px;
}

.mypage-main .navi .tags .tag .btn {
  color: gray;
}

.mypage-main .navi .tags .tag .btn span {
  padding: 0 5px;
}

.mypage-main .navi .tags .tag:hover {
  border-bottom: 1px solid black;
}

.mypage-main .bookmarks {
  width: 60%;
  min-width: 680px;
  margin: 5px 0 0 300px;
}

.mypage-main .bookmarks .select {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px;
  text-align: center;
}

.mypage-main .bookmarks .bookmark-list {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px gray;
  margin: 0 auto;
  max-height: 500px;
  overflow: scroll;
}

.mypage-main .bookmarks .bookmark-list .add span {
  padding: 5px;
  margin: 10px 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
  color: gray;
  font-size: 15pt;
}

.mypage-main .bookmarks .bookmark-list .bookmark {
  margin: 10px 10px 0;
  padding: 10px 0 10px 30px;
  border-bottom: 1px solid gray;
}

.mypage-main .bookmarks .bookmark-list .bookmark .bookmark-title {
  font-size: 18px;
  color: gray;
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail {
  margin: 5px 0 0 0;
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail .url {
  font-size: 16px;
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail .url span {
  color: gray;
  padding: 0 0 0 10px;
}

.mypage-main .bookmarks .bookmark-list .not-bookmark {
  font-size: 20px;
  color: red;
}

