.mypage-main {
  display: -webkit-box;
  display: flex;
  margin: 10px 0 0 0;
  position: relative;
  top: 80px;
}

.mypage-main .navi {
  width: 240px;
  position: fixed;
  padding: 0 30px 0;
  top: 80px;
  margin: 20px 0 0 0;
}

.mypage-main .navi .bookmark-all {
  width: 200px;
  padding: 5px 0;
  box-sizing: border-box;
}

.mypage-main .navi .bookmark-all:hover {
  border-bottom: 1px solid black;
}

.mypage-main .navi .bookmark-all span {
  padding: 0 0 0 5px;
}

.mypage-main .navi .tags .label {
  padding: 5px 0;
  margin: 0;
  width: 200px;
}

.mypage-main .navi .tags .label .lang {
  padding: 0 0 0 5px;
}

.mypage-main .navi .tags .label .icon-plus {
  color: gray;
  margin: 0 0 0 50px;
  padding: 2px;
}

.mypage-main .navi .tags .label .icon-plus:hover {
  border: 1px solid gray;
}

.mypage-main .navi .tags .newInput {
  padding: 5px 0;
  margin: 0 0 0 1rem;
  width: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.mypage-main .navi .tags .newInput input {
  width: 150px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid black;
}

.mypage-main .navi .tags .newInput button {
  background-color: white;
}

.mypage-main .navi .tags .tag {
  padding: 5px 0;
  margin: 0 0 0 1rem;
  width: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
}

.mypage-main .navi .tags .tag .name span {
  padding: 0 0 0 5px;
}

.mypage-main .navi .tags .tag .input input {
  border: none;
  width: 140px;
  font-size: 16px;
  padding: 0 0 0 5px;
}

.mypage-main .navi .tags .tag .btn {
  color: gray;
}

.mypage-main .navi .tags .tag .btn span {
  padding: 0 5px;
}

.mypage-main .navi .tags .tag:hover {
  border-bottom: 1px solid black;
}

.mypage-main .bookmarks {
  width: 60%;
  min-width: 680px;
  margin: 5px 0 0 300px;
}

.mypage-main .bookmarks .select {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px;
  text-align: center;
}

.mypage-main .bookmarks .bookmark-list {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px gray;
  margin: 0 auto;
  max-height: 500px;
  overflow: scroll;
}

.mypage-main .bookmarks .bookmark-list .add span {
  padding: 5px;
  margin: 10px 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
  color: gray;
  font-size: 15pt;
}

.mypage-main .bookmarks .bookmark-list .form-add {
  width: 80%;
  margin: 20px auto;
  border: 1px solid gray;
  box-shadow: 0 0 8px;
  box-sizing: border-box;
}

.mypage-main .bookmarks .bookmark-list .form-add .error {
  color: red;
  font-size: 13pt;
  margin: 10px 0 10px 20px;
}

.mypage-main .bookmarks .bookmark-list .form-add .error .message {
  margin: 0 0 0 1rem;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-title {
  margin: 10px 20px;
  display: -webkit-box;
  display: flex;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-title .label {
  width: 130px;
  font-size: 13pt;
  color: gray;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-title .input {
  width: 70%;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-title .input input {
  border: none;
  border-bottom: 1px solid gray;
  font-size: 13pt;
  width: 100%;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-url {
  margin: 10px 20px;
  display: -webkit-box;
  display: flex;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-url .label {
  width: 130px;
  font-size: 13pt;
  color: gray;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-url .input {
  width: 70%;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-url .input input {
  border: none;
  border-bottom: 1px solid gray;
  font-size: 13pt;
  width: 100%;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-tag {
  margin: 10px 20px;
  display: -webkit-box;
  display: flex;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-tag .label {
  width: 130px;
  font-size: 13pt;
  color: gray;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-tag .select {
  width: 70%;
  padding: 0;
  margin: 0;
  text-align: left;
}

.mypage-main .bookmarks .bookmark-list .form-add .add-tag .select select {
  border: none;
  border-bottom: 1px solid gray;
  font-size: 13pt;
  width: 40%;
}

.mypage-main .bookmarks .bookmark-list .form-add .btn {
  margin: 10px 20px;
  text-align: right;
}

.mypage-main .bookmarks .bookmark-list .form-add .btn button {
  color: gray;
  border: 1px solid gray;
  padding: 1px 5px;
  font-size: 14pt;
  font-weight: bold;
  margin: 0 5px;
  border-radius: 5px;
}

.mypage-main .bookmarks .bookmark-list .bookmark {
  margin: 10px 10px 0;
  padding: 10px 0 5px 30px;
  border-bottom: 1px solid gray;
}

.mypage-main .bookmarks .bookmark-list .bookmark .bookmark-short {
  display: -webkit-box;
  display: flex;
}

.mypage-main .bookmarks .bookmark-list .bookmark .bookmark-short .bookmark-title {
  font-size: 13pt;
  width: 90%;
}

.mypage-main .bookmarks .bookmark-list .bookmark .bookmark-short .bookmark-title a {
  color: gray;
  text-decoration: none;
}

.mypage-main .bookmarks .bookmark-list .bookmark .bookmark-short .btn-detail {
  width: 10%;
  font-size: 13pt;
  color: gray;
  text-align: center;
  font-weight: bold;
}

.mypage-main .bookmarks .bookmark-list .bookmark .bookmark-short .btn-detail:hover {
  -webkit-transform: scale(1.3);
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail {
  margin: 5px 0 0 0;
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail .url {
  margin: 10px 0 0 0;
  font-size: 12pt;
  color: gray;
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail .url span {
  padding: 0 0 0 10px;
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail .isOpen {
  margin: 10px 0 0 0;
  font-size: 12pt;
  color: gray;
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail .btn {
  display: -webkit-box;
  display: flex;
  width: 20%;
  margin: 10px auto 10px 0;
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail .btn div {
  font-size: 13pt;
  text-align: left;
  color: gray;
  text-align: center;
  margin: 0 5px;
}

.mypage-main .bookmarks .bookmark-list .bookmark .detail .btn div button {
  width: 30px;
  padding: 3px 3px;
  font-size: 13pt;
  color: gray;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-title {
  display: -webkit-box;
  display: flex;
  margin: 10px 0 0;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-title .label {
  width: 150px;
  color: gray;
  font-size: 13pt;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-title .input {
  width: 70%;
  font-size: 13pt;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-title .input input {
  width: 80%;
  font-size: 13pt;
  border: none;
  border-bottom: 1px solid gray;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-url {
  display: -webkit-box;
  display: flex;
  margin: 10px 0 0;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-url .label {
  width: 150px;
  color: gray;
  font-size: 13pt;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-url .input {
  width: 70%;
  font-size: 13pt;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-url .input input {
  width: 80%;
  font-size: 13pt;
  border: none;
  border-bottom: 1px solid gray;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-tag {
  display: -webkit-box;
  display: flex;
  margin: 10px 0 0;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-tag .label {
  width: 150px;
  color: gray;
  font-size: 13pt;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-tag .select {
  width: 70%;
  font-size: 13pt;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-tag .select select {
  width: 80%;
  font-size: 13pt;
  border: none;
  border-bottom: 1px solid gray;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-isOpen {
  margin: 10px 0 0;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-isOpen input {
  margin: 0 0.5rem 0;
  background-color: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .edit-isOpen span {
  color: gray;
  font-size: 13pt;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .btn {
  margin: 10px 0 10px;
}

.mypage-main .bookmarks .bookmark-list .bookmark .edit-form .btn button {
  color: gray;
  border: 1px solid gray;
  font-size: 10pt;
  font-weight: bold;
  margin: 0 5px;
  padding: 2px 5px;
  border-radius: 5px;
}

.mypage-main .bookmarks .bookmark-list .not-bookmark {
  margin: 20px 0 10px 30px;
  font-size: 20px;
  color: red;
}

